package components

import "fmt"

templ CounterWithButton(cnt int) {
    <div id="counter-wrapper">
        <div id="count">Count: { cnt }</div>
        <button
            hx-post={ fmt.Sprintf("/count/%d", cnt) }
            hx-target="#counter-wrapper"
            hx-swap="outerHTML"
        >
            Count
        </button>
    </div>
}
